{% extends "_base.html" %}
{% block title %}About Our Agents{% endblock %}
{% block description %}Our travel agents have years of experience planning inventive and hassle-free trips.{% endblock %}
{% block page_core %}
<div class="bgimg i2"></div>
<div class="container padded">
    <div class="row">
        <div class="col-md-5"><h1>Welcome to Aldine Travel</h1>
            <p class="lead">Specialists in the art of luxury travel</p><br>
            <p>Aldine Travel is a family-owned luxury travel agency and has been in business in St. Louis since 1958,
                creating great memories and experiences for our clients.
                We believe that travel is a lifetime activity and the planning should reflect this philosophy.</p>
            <p>
                There are 23 travel advisors in our office, each of them with a passion for what they do. Our agents' backgrounds
                give them incredible knowledge about the intricacies of travel, and make them deeply familiar with many of the world's lesser-known destinations.
            </p><br>
            <p class="lead"><a href="contact-us.html">Contact us</a> today, and let us help you script your next luxury travel journey!</p>
        </div>
        <div class="col-md-7" style="padding-top: 50px">
            <p><img src="{{ static('img/our-agents.jpg') }}" class="img-thumbnail img-responsive"></p>
        </div>
    </div>
</div>
{% endblock %}