{% extends "_base.html" %}
{% block title %}The Katy Land Trust Autumn Experience in St. Louis and the Missouri Countryside{% endblock %}
{% block description %}Enjoy five days of food, wine and scenic beauty. Meet us in St. Louis for five incomparable days. Take in the city’s best view of the Arch and witness the rivers that made this a truly great river city. See the the farms and vineyards that produce the exceptional food and wine our chefs will prepare and serve. Experience the history and landscape of the region and meet those who preserve and paint it.{% endblock %}
{% block page_core %}
<div class="bgimg i3"></div>
<div class="container padded">
    <div>
        <object data="/s/assets/katy_trail_land_trust_autumn_experience.pdf" type="application/pdf" width="100%" height="900">
            {# No pdf viewer? Fall back to google iframe #}
            <iframe src="https://docs.google.com/a/aldinetravel.com/file/d/0BxEhvgTiZAROdXJIaFV0ZUJvZ1U/preview" frameborder="0" height="1150" width="100%" onload="destroyLoading();"></iframe>
        </object>
    </div>
    <a href="/s/assets/katy_trail_land_trust_autumn_experience.pdf">Click here to download the Katy Land Trust / Autumn Experience PDF</a>
</div>
{% endblock %}

{#
Works: https://docs.google.com/a/aldinetravel.com/file/d/0BxEhvgTiZAROdXJIaFV0ZUJvZ1U/preview
Issues: https://docs.google.com/viewerng/viewer?url=https://aldinetravel.com/s/assets/katy_trail_land_trust_autumn_experience.pdf&embedded=true
#}