{% extends "_base.html" %}
{% block title %}Travel Resources{% endblock %}
{% block description %}Helfpul travel resources and links from Aldine Travel, a Virtuoso-certified group of luxury travel advisors.{% endblock %}
{% block page_core %}
<div class="bgimg i2"></div>
<div id="backgroundimg"></div>

<div class="container padded">
    <div class="row">
        <div class="col-md-12"><h1>Travel Resources &amp; Tools</h1>
            <p class="lead">Tips &amp; tricks from Aldine's luxury travel agents</p><br></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><a href="http://www.virtuoso.com/member/aldinetravel" target="_blank" onmousedown="ga('send', 'event', 'Virtuoso','Resources');">Explore our Virtuoso Collection</a></h3>
            <p>Browse our elite collection of all-inclusive Virtuoso <a href="http://www.virtuoso.com/member/aldinetravel" target="_blank" onmousedown="ga('send', 'event', 'Virtuoso','Resources');">luxury travel packages</a> from cruises to guided tours and active travel.</p>
            <hr width="90%">
            <h3><a href="http://travel.state.gov/" target="_blank">State Department Advisories</a></h3>
            <p>Double-check any security warnings and register for the STEP traveler program <a href="http://travel.state.gov/" target="_blank">through the U.S. Department of State</a>.</p>
        </div>
        <div class="col-md-4">
            <h3><a href="http://go.aldinetravel.com/insurance" target="_blank">Trip Insurance</a></h3>
            <p>Expect the best, but plan for the worst. Be sure to grab <a href="http://go.aldinetravel.com/insurance" target="_blank">travel insurance</a> for any unexpected hiccups on your journey.</p>

            <hr width="90%">
            <h3><a href="contact-us.html">Contact a Travel Advisor</a></h3>
            <p>Truly make your trip a luxury with one of our Virtuoso-certified travel advisors. <a href="contact-us.html">Send us a message</a> today.</p>
        </div>
        <div class="col-md-4">
            <h3><a href="http://wwwnc.cdc.gov/travel" target="_blank">Immunizations & Health</a></h3>
            <p>Going some place exotic? Be sure to get all the recommended vaccines in advance. See the <a href="http://wwwnc.cdc.gov/travel" target="_blank">travel health site from the CDC</a>.</p>
            <hr width="90%">
            <h3><a href="https://www.facebook.com/AldineTravel" target="_blank">Connect on Facebook</a></h3>
            <p>Meet other travelers and browse through photos of our client's amazing journeys <a href="https://www.facebook.com/AldineTravel" target="_blank">on Facebook</a>.</p>
        </div>
    </div>
</div>

{% endblock %}