<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}A St. Louis Luxury Travel Agency{% endblock %} &middot; Aldine Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}St. Louis luxury travel agents specializing in biking trips, adventure travel, cruises, and inventive land vacations. Family-owned since 1958.{% endblock %}">
    <meta name="author" content="Nick Semenkovich (@semenko) http://nick.semenkovich.com/">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    {%- if config.FREEZER_DESTINATION is defined -%}<link href="{{ static('style.min.css') }}" rel="stylesheet">{% else %}<link href="{{ static('style.css') }}" rel="stylesheet">{% endif %}
    <!--[if lt IE 8]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})});</script><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
    {#  <link rel="shortcut icon" href="/s/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png"> #}
    <script>
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-76188-1']);
        _gaq.push(['_setSiteSpeedSampleRate', 100]); _gaq.push(['_trackPageview']);
        window.onerror = function(m, f, l) { var err = [f, l, m].join(' : '); _gaq.push(['_trackEvent', 'Errors', 'App', err, null, true]); };
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <body>
    <div class="container navbar-wrapper">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Aldine Travel</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about-us.html">About Us</a></li>
              <li><a href="/featured-trips.html">Featured Trips &amp; Cruises</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search for Trips <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="cruises.html">Cruises</a></li>
                  <li><a href="tours.html">Tours</a></li>
                  <li><a href="vacation-packages.html">Vacation Packages</a></li>
                  <li><a href="hotels-and-resorts.html">Hotels &amp; Resorts</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Specials</li>
                  <li><a href="promotions.html">Promotions</a></li>
                  <li><a href="featured-trips.html">Featured Trips</a></li>
<!--		  <li><a href="luxury-villas.html">Luxury Villas</a></li> //-->
                </ul>
              </li>
              <li><a href="/travel-resources.html">Travel Resources</a></li>
              <li><a href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% block page_core %}page_core{% endblock %}
    <div class="container">
      <hr class="featurette-divider">
      <footer>
	<p class="pull-right"><a href="#">Back to top</a> </p>
	<p>&copy; 2013 Aldine Travel, Inc. &mdash; A Luxury Travel Agency | Travel agents proudly St. Louis since 1958</p>
	<p>Phone: <a href="tel:+1-314-994-7878" onmousedown="_gaq.push(['_trackEvent','Call','local','Footer']);">(314) 994-7878</a> &middot; <a href="mailto:info@aldinetravel.com" target="_blank" onmousedown="_gaq.push(['_trackEvent','Email','Footer']);">info@aldinetravel.com</a></p>
	<p>9909 Clayton Road, St. Louis, MO 63124</p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || (function(){ document.write('<script src="{{ static('js/jquery-1.10.2.min.js') }}">\x3C/script>'); _gaq.push(['_trackEvent', 'Errors', 'jQueryLoad']); })();</script>
    <script>
      (function(){
        var adtext = {'Jet':'Private Jet Tours', 'Butterfield':'Butterfield & Robinson Tours', 'Backroad':'Backroads Active Travel', 'Active':'Hiking and Biking Tours', 'Tauck':'Tauck Adventure Travel', 'MTSobek':'Mountain Travel Sobek','IST':'IST Cultural Tours','Japan':'Japan and Orient Tours','ATS':'ATS Tour Planning','Brendan':'Brendan Tour Planning','Island':'Island Travel Getaways','Travcoa':'Travcoa Tour Planning','Honeymoon':'Honeymoon Planning'};
        try { var anchor = location.hash.split(/\//)[1]; } catch (err) { var anchor = ""; }
        if (adtext.hasOwnProperty(anchor)) { $('.carousel-caption h1').first().text( adtext[anchor] ); $('#adtext h1').text("Experts at " + adtext[anchor]); $('#adtext').show(); } } )();
      (function() {
        try { var page = location.href.split(/\//)[3].split(/#/)[0]; } catch (err) { var page = '/'; } if(page.indexOf('.') == -1) { page += '/'; }
        $(".navbar ul.nav").find('a[href$="'+page+'"]').first().parents("li").addClass("active"); })();
    </script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>$('body').popover || (function(){ document.write('<script src="{{ static('js/bootstrap-2.3.2.min.js') }}">\x3C/script>'); _gaq.push(['_trackEvent', 'Errors', 'BootstrapLoad']); })();</script>
    <script>!function ($) { $(function(){ $('#myCarousel').carousel() }) }(window.jQuery);</script>
    <script async>
      $(window).load(function(){
        var preload_imgs = ['{{ static('img/cs-wiki-1-CC-BY-SA.jpg') }}','{{ static('img/cs-wiki-2-CC-BY-SA.jpg') }}','{{ static('img/cs-wiki-3-CC-BY-SA.jpg') }}','{{ static('img/our-agents.jpg') }}',
        '//vcms.virtuoso.com/Images/searchform/cruise.jpg','//vcms.virtuoso.com/Images/searchform/tour.jpg','//vcms.virtuoso.com/Images/searchform/package.jpg','//vcms.virtuoso.com/Images/searchform/property.jpg','//vcms.virtuoso.com/Images/searchform/promotions.jpg'];
        $(preload_imgs).each(function() { var pimg = $('<img />').attr('src', this);});
      });
    </script>
  </body>
</html>
