{% extends "_base.html" %}
{% block page_core %}
<div class="bgimg i3"></div>
<div class="container padded">
    <div>
        <div style="position:absolute;padding-top:50px;z-index:-100" id="loading"><h1>Loading <span id="wait"></span></h1></div>
        <script>
            var wait = document.getElementById("wait");
            var dots = window.setInterval( function() { if ( wait.innerHTML.length > 2) wait.innerHTML = ""; else wait.innerHTML += "."; }, 600);
            function destroyLoading() { clearInterval(dots); document.getElementById('loading').style.display = 'none'; };
        </script>
        <iframe src="{% block iframe %}{% endblock %}" frameborder="0" height="1150" width="100%" onload="destroyLoading();"></iframe>
    </div>
</div>
{% endblock %}