<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}title{% endblock %} &middot; Aldine Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Nick Semenkovich (@semenko) http://web.mit.edu/semenko/">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ static('style.css') }}" rel="stylesheet">
    <script type="text/javascript">
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-76188-1']);
    _gaq.push(['_setSiteSpeedSampleRate', 100]); _gaq.push(['_trackPageview']);
    window.onerror = function(m, f, l) { var err = [f, l, m].join(' : '); _gaq.push(['_trackEvent', 'Errors', 'App', err, null, true]); };
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = 'https://ssl.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!--[if lte IE 6]><script src="//ie6-upgrade-warning.googlecode.com/svn/trunk/ie6/warning.js"></script><script>window.onload=function(){e("//ie6-upgrade-warning.googlecode.com/svn/trunk/ie6/")}</script><![endif]-->
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{#
    <link rel="shortcut icon" href="/s/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
#}
  </head>
  <body>
    <div class="container navbar-wrapper">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Aldine Travel</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about-us.html">About Us</a></li>
              <li><a href="/featured-trips.html">Featured Trips</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search for Trips <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="cruises.html">Cruises</a></li>
                  <li><a href="tours.html">Tours</a></li>
                  <li><a href="vacation-packages.html">Vacation Packages</a></li>
                  <li><a href="hotels-and-resorts.html">Hotels &amp; Resorts</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Specials</li>
                  <li><a href="promotions.html">Promotions</a></li>
                  <li><a href="featured-trips.html">Featured Trips</a></li>
<!--		  <li><a href="luxury-villas.html">Luxury Villas</a></li> //-->
                </ul>
              </li>
<!--              <li><a href="travel-resources.html">Travel Resources</a></li> //-->
              <li><a href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% block page_core %}page_core{% endblock %}
    <div class="container">
      <hr class="featurette-divider">
      <footer>
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>&copy; 2012 Aldine Travel, Inc. &mdash; Proudly serving the St. Louis region since 1958</p>
	<p>Phone: (314) 994-7878 &middot; <a href="mailto:info@aldinetravel.com" target="_blank" onmousedown="_gaq.push(['_trackEvent','Contact','emailClick','Footer']);">info@aldinetravel.com</a></p>
	<p>9909 Clayton Road, St. Louis, MO 63124</p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script>
      !function ($) { $(function(){ $('#myCarousel').carousel() }) }(window.jQuery);
      try { var page = location.href.split(/\//)[3].split(/#/)[0]; } catch (err) { var page = '/'; }
      if(page.indexOf('.') == -1) { page += '/'; }
      $(".navbar ul.nav").find('a[href$="'+page+'"]').parents("li").addClass("active");
    </script>
    <script async>
        var preload_imgs = ['{{ static('img/cs-wiki-1-CC-BY-SA.jpg') }}','{{ static('img/cs-wiki-2-CC-BY-SA.jpg') }}','{{ static('img/cs-wiki-3-CC-BY-SA.jpg') }}','{{ static('img/our-agents.jpg') }}',
        'http://vcms.virtuoso.com/Images/searchform/cruise.jpg','http://vcms.virtuoso.com/Images/searchform/tour.jpg','http://vcms.virtuoso.com/Images/searchform/package.jpg','http://vcms.virtuoso.com/Images/searchform/property.jpg','http://vcms.virtuoso.com/Images/searchform/promotions.jpg'];
        $(preload_imgs).each(function() { var pimg = $('<img />').attr('src', this);});
    </script>
  </body>
</html>
